@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
ul, ol {
  list-style-type: none; }

body {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  font-family: Lato; }

h1 {
  background-image: url("../img/roundel.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -99999px;
  height: 460px;
  width: 460px;
  opacity: 0.69;
  background-position: 50%;
  margin-top: 3em; }

.nav {
  width: 80%;
  max-width: 800px;
  margin-top: 4em;
  display: -ms-flexbox;
  display: flex; }
  .nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .nav ul li a {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none;
      color: transparent;
      text-decoration: none;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      opacity: 0.69;
      transition: all 0.25s;
      height: 40px;
      width: 120px;
      display: block; }
      .nav ul li a.reception {
        background-image: url("../img/reception.png"); }
      .nav ul li a.rsvp {
        background-image: url("../img/rsvp.png");
        background-size: 62%; }
      .nav ul li a.gifts {
        background-image: url("../img/gifts.png");
        background-size: 62%; }
      .nav ul li a.accommodation {
        background-image: url("../img/accommodation.png");
        width: 200px; }
      .nav ul li a:hover {
        opacity: 0.9;
        transition: all 0.25s; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }
